.OutputForm{
    width: 100%;
}

.InputForm{
    width: 100%;
    text-align: center;
}

.InputTextForm{
    width: 75%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.MoreMovies{
    text-align: center;
    min-height: 300px;
    width: 100%;
}

.MoreMoviesButton{
    margin: auto;
}

.NothingFound{
    min-height: 300px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.ConnectionProblem{
    min-height: 300px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.LoadingForm{
    min-height: 300px;
    margin: auto;
    width: 100%;
}



@media (max-width: 599px) {

    .CardWrapper   {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .Poster{
        width: 100%;
        height: 300px;
    }
    
    .Plot{
        text-align: center;
        width: 100%;
    }
    
    .Spacer {
        width: 100%;
        height: 15px;
    
    }
    
    .PosterImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
        max-height: 95%;
      }
    }

@media (min-width: 600px){

    .CardWrapper{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 550px;
    }
    
    .Poster{
        width: 40%;
        height: 550px;
        display:block;
        float:left;
    }
    
    .Plot{
        width: 40%;
        display:block;
        float:left;
        text-align: center;
    }
    
    .Spacer {
        width: 10px;
        height: 10px;
        display:block;
        float:left;
    }
    
    .PosterImage {
        max-width: 95%;
        max-height: 95%;
    }
}