<div class="InputForm">
  <mat-card color="Primary">
    <mat-form-field class="InputTextForm">
      <input matInput [(ngModel)]="MovieTitle" placeholder="Type movie title here."  (keyup)="OnKeyPressed($event)">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="OnSearchClick()">Search Movie</button>
  </mat-card>
</div>
<br>
<div class="OutputForm">
  <div *ngFor="let Movie of Movies">
    <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a href="http://www.imdb.com/title/{{Movie.imdbID}}/"  target="_blank">
              Title : {{Movie.Title}}
            </a>  
          </mat-card-title>  
          <mat-card-subtitle>Year : {{Movie.Year}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="CardWrapper">
            <div class="Poster">
              <img class="PosterImage" [src]="Movie.Poster" onError="this.src='assets/NoPosterFound.jpg'"/>
            </div>
            <div class="Spacer">
              
            </div>
            <div class = "Plot">
              <p class="PlotParagraph">
                {{Movie.Plot}}
              </p>
            </div>
          </div>
        </mat-card-content>  
    </mat-card>
  </div>
</div>
<br>
<div class="MoreMovies" *ngIf="!IsLoading && !FreshPage && !NothingElseToFetch && !NothingFound">
  <button mat-raised-button class="MoreMoviesButton" (click)="OnSearchClick()">More Movies!</button>
</div>
<br>
<div class ="NothingFound" *ngIf="NothingFound">
  <mat-card>
      <mat-card-title>Nothing Found ;(</mat-card-title>
  </mat-card>
</div>
<br>
<div class="LoadingForm" *ngIf="IsLoading">
  <mat-spinner class="SomethingHappens" [style.display]="IsLoading ? 'block': 'none'"></mat-spinner>
</div>
<div class ="ConnectionProblem" *ngIf="CheckYourInternet">
  <mat-card>
      <mat-card-title>
        Some kind of error happened during searching. 
        Please, check your internet connection.
      </mat-card-title>
  </mat-card>
</div>



